[Desktop Entry]
Type=Application
Name=Aether Launcher
Comment=Application Launcher for the Aether Desktop Environment
Exec=aether-launcher
Icon=launcher
Terminal=false
Categories=System;
Keywords=launcher;apps;search;
NoDisplay=true
